<!-- Styles -->
<style>
    .title {
        font-size: 26px;
        margin-bottom: unset;
    }

    .red {
        color: #eb0000;
    }

    .full-height {
        height: calc(100vh - 100px);
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .flex-column {
        flex-direction: column;
    }
</style>

<div class="flex-center position-ref full-height flex-column">
    <div class="title"><span class="red">Red</span>Core</div>
</div>
