<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="/favicon.png"/>

    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet"/>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <style>
        html, body {
            background-color: #f8f8f8;
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 100;
            margin: 0;
        }

        .center {
            text-align: center;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .flex-column {
            flex-direction: column;
        }

        .shadow {
            box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 15%);
        }

        .title {
            font-size: 20px;
            margin-bottom: 15px
        }

        .card-login {
            padding: 15px;
            width: 100%;
            max-width: 500px;
            background: #fff;
            border-radius: 6px;
        }

        .form-control {
            font-size: 0.95rem;
        }

    </style>
</head>
<body>
<%- include('header/header') %>
<%- body %>

<script src="/assets/bootstrap/popper.min.js"></script>
<script src="/assets/bootstrap/bootstrap.min.js"></script>
</body>
</html>
